@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Importo</th>
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>
            <th scope="col">Data Violazione</th>
            <th scope="col">Decurtamento Punti</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var row in Model)
        {
            <tr>
                <td scope="row">@row["Importo"]</td>
                <td>@row["Cognome"]</td>
                <td>@row["Nome"]</td>
                <td>@row["DataViolazione"]</td>
                <td>@row["DecurtamentoPunti"]</td>
            </tr>

        }
    </tbody>
</table>