@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Totale Verbali</th>
            <th scope="col">Totale Punti Decurtati</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var row in Model)
        {
            <tr>
                <td scope="row">@row["Nome"]</td>
                <td>@row["Cognome"]</td>
                <td>@row["CodiceFiscale"]</td>
                <td>@row["TotaleVerbali"]</td>
                <td>@row["PuntiDecurtati"]</td>
            </tr>

        }
    </tbody>
</table>